{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true,
      "templateStrings": true,
      "jsx": true
    }
  },
  "globals": {
    "require": true,
    "Dispatch": true,
    "Middleware": true,
    "NextMiddleware": true
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "rules": {
    "no-debugger": 1,
    "linebreak-style": 0,
    "import/first": 2,
    "no-undef": 0,
    // disallow parameter object manipulation except for specific exclusions
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": [
        "state", // for vuex state
        "acc", // for reduce accumulators
        "e", // for e.returnvalue
        "req", // for Express requests
        "request", // for Express requests
        "res", // for Express responses
        "response" // for Express responses
      ]
    }]
  }
}
